
html, body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  color: black;
  text-decoration: none;
}

body {

  margin: 0;
  padding: 0 32px;
  
  background: #b3b1afce;
 /*  background: -moz-linear-gradient(40deg, #E7E5E4 0%, #807A6E 31%, #B3B1AF 60%, #807A6E 87%, #252525 100%);
  background: -webkit-linear-gradient(40deg, #E7E5E4 0%, #807A6E 31%, #B3B1AF 60%, #807A6E 87%, #252525 100%);
  background: linear-gradient(40deg, #E7E5E4 0%, #807A6E 31%, #B3B1AF 60%, #807A6E 87%,  100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f2f2f2",endColorstr="#404040",GradientType=1); */
} 