.dndflow {
  display: flex;
  flex-direction: row;
  height: 100%;
  margin-top: 15px;
}

.dndflow aside {
  display: flex;
  display: table-column;
  align-items: center;
  width: 12%;
  min-width: 200px;
  max-width: 150px;
  padding: 15px 15px;
  font-size: 12px;
  font-weight: 700;
  background: transparent;
  box-shadow: 0 0 10px #807A6E;
  backdrop-filter: blur(10px);
  border-radius: 25px;
  margin-right: 10px;
  color: #252525;
}

.dndflow aside .description {
  margin-bottom: 10px;
  margin-left: 10px;
  padding: 0 5px 0 5px;
  font-weight: 400;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.dndflow aside .description2 {
  margin-top: 15px;
  margin-bottom: 3px;
  padding: 0 20px 0 20px;
  font-weight: normal;
  font-size: 12px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.dndflow .dndnode {
  height: 100px;
  background-color: #B3B1AF;
  border: 2px solid #E7E5E4;
  border-radius: 12px;
  padding: 4PX 10px 10PX 10px;
  margin: 20px 10px 10px 10px;
  cursor: grab;
  font-size: 16px;
  box-shadow: 2px 2px 6px 0.5px #807A6E;
  z-index: 100;
}

.dndflow .dndlink {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  background-color: #8C92A2;
  border-radius: 12px;
  padding: 10PX 10px 10PX 10px;
  margin: 5px 10px 10px 10px;
  cursor: pointer;
  font-size: 20px;
  box-shadow: 2px 2px 6px 0.3px #807A6E;
}

.dndlink .node-link{
  font-size: 20px;
  text-decoration: none;
  color: #E7E5E4;
}

.dndnode .node-title{
  display: flex;
  justify-content: center;
  font-size: 16px;
}
.dndnode .node-icon{
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
  z-index: 0;
}

.node-icon .onticon{
  
  width: 65%;
  height: auto;
  margin-top: 5px;
}

.spliticon{
  position: relative;
  width: 55%;
  height: auto;
  padding-top: 1px;
}

.tapicon{
  width: 52%;
  height: auto;
  margin-top: 5px;
}


.dndflow .oltnode {
  height: 100px;
  width: 200px;
  padding: 30px;
  border: 1px solid #E7E5E4;
  background-color: #B3B1AF;
  border-radius: 10px;
  display: grid;
  align-items: center;
  justify-content: space-between;
  cursor: grab;
  font-size: 16px;
}

.dndflow .reactflow-wrapper {
  flex-grow: 1;
  height: 100%;
}

.dndflow .selectall {
  margin-top: 10px;
}

@media screen and (min-width: 768px) {
  .dndflow {
    flex-direction: row;
  }

  .dndflow aside {
    width: 12%;
    max-width: 200px;
  }
}

.ont {
      width: 50px;
      height: 40px;
      background-color: #f0f0f0;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 30px;
    }

    .ont-body {
      width: 80%;
      height: 80%;
      background-color: #f0f0f0;
      border-radius: 10px;
      box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .ont-display {
      width: 60%;
      height: 40%;
      background-color: #333;
      border-radius: 5px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .ont-connector {
      width: 10px;
      height: 10px;
      background-color: #333;
      position: absolute;
      top: 50%;
      left: -20px;
      transform: translateY(-50%);
    }

    .ont-connector::before {
      content: "";
      width: 20px;
      height: 5px;
      background-color: #333;
      position: absolute;
      top: 50%;
      left: -20px;
      transform: translateY(-50%);
    }

    .splitter {
      width: 45px;
      height: 32px;
      background-color: #f0f0f0;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 8px;
    }

    .splitter-body {
      width: 80%;
      height: 70%;
      background-color: #f0f0f0;
      border-radius: 10px;
      box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .splitter-connector {
      width: 10px;
      height: 10px;
      background-color: #333;
      position: absolute;
    }

    .splitter-connector::before {
      content: "";
      width: 20px;
      height: 5px;
      background-color: #333;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }

    .splitter-connector.input {
      left: -20px;
    }

    .splitter-connector.output {
      right: -20px;
    }

    .splitter-connector.input::before {
      left: -20px;
    }

    .splitter-connector.output::before {
      right: -20px;
    }

    .tap {
      width: 45px; 
      height: 32px;
      background-color: #f0f0f0;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .tap-body {
      width: 80%;
      height: 70%;
      background-color: #f0f0f0;
      border-radius: 10px;
      box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    
    .tap-connector {
      width: 10px;
      height: 10px;
      background-color: #333;
      position: absolute;
    }
    
    .tap-connector::before {
      content: "";
      width: 20px;
      height: 5px;
      background-color: #333;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
    
    .tap-connector.input {
      left: -50%;
    }
    
    .tap-connector.input::before {
      left: -20px;
    }
    
    .tap-connector.output {
      right: -20px; 
    }
    
    .tap-connector.output::before {
      width: 20px;
      height: 5px;
      left: 8px; 
      top: 5px;
    }

    .tap-connector.output-2 {
      bottom: -18px; 
      left: 50%;
      transform: translateX(-50%);
    }
    
    .tap-connector.output-2::before {
      width: 4px;
      height: 15px;
      left: 2.5px; 
      top: 10px;
    }