.dndflow {
  display: flex;
  flex-direction: row;
  height: 100%;
  margin-top: 15px;
}

.dndflow aside {
  width: 12%;
  min-width: 200px;
  max-width: 200px;
  border: 10px solid rgba(255, 255, 255, .2);
  padding: 15px 10px;
  font-size: 12px;
  font-weight: bold;
  background-color: #f2f2f254;
  backdrop-filter: blur(30px);
  border-radius: 25px;
  margin-right: 10px;
}

.dndflow aside .description {
  margin-bottom: 10px;
  padding: 0 20px 0 20px;
  font-weight: normal;
}

.dndflow .dndnode {
  height: 100px;
  background-color: #afafaf;
  border: 2px solid #F2F2F2;
  border-radius: 12px;
  padding: 4PX 10px 10PX 10px;
  margin: 20px 10px 10px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab;
  font-size: 16px;
  box-shadow: 2px 2px 6px 0.5px rgba(0, 0, 0, 0.329);
}

.dndflow .dndnode .onticon{
  width: 70%;
  height: auto;
  margin-top: 5px;
}

.dndflow .dndnode .spliticon{
  width: 50%;
  height: auto;
  margin-top: 5px;
}

.dndflow .dndnode .tapicon{
  width: 50%;
  height: auto;
  margin-top: 5px;
}

.dndflow .oltnode {
  height: 100px;
  width: 200px;
  padding: 30px;
  border: 1px solid #595959;
  background-color: #8C8C8C;
  border-radius: 10px;
  display: grid;
  align-items: center;
  justify-content: space-between;
  cursor: grab;
  font-size: 16px;
}

.dndflow .reactflow-wrapper {
  flex-grow: 1;
  height: 100%;
}

.dndflow .selectall {
  margin-top: 10px;
}

@media screen and (min-width: 768px) {
  .dndflow {
    flex-direction: row;
  }

  .dndflow aside {
    width: 12%;
    max-width: 250px;
  }
}